*
{
margin: 10px; 
padding: 0;
box-sizing: border-box;
font-family: 'Montserrat', sans-self;
}


body
{
background: linear-gradient(
    to right, 
    #ffffff 0%, 
    #d8ffff 50.5%,     /* Light Blue*/
    #ffffff 49.5%, 
    #ffffff 100%
  );

letter-spacing: 2px;
border: double black;   /* Double Black*/
height: 100%;
width: 50%;
}
table, th, td {
  border:1px solid black;
}
.profile-img
{
	width: 10%;
	float: right;
}
.profile-img img
{
	width: 100%;
	height: 60%;
}

.objective
{
	margin-left: 25px;
}

.objective-InfoBackground
{
	width: 60%;
	height: 100vh;
	float: left;
	padding: 0 30px;
}
.navbar {
 
  border: none;
  color: white;    /* Button Colour*/
  padding: 15px 32px;   
  text-align: top;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}